
.AreaDeInformación{ /* Área en donde se encuentra toda la información */
    display: inline-block;
}



/*////////// IMAGEN Y NOMBRE DE LA ACTIVIDAD //////////*/
.posicionamientoImagenFondo{
    position: relative; /* Posicionamiento de la imagen de fondo principal */
}

.imagenFondo { /* Tamaño de la imagen de fondo principal */
    width: 100%;
    height: 32.375rem;
}

.centrado{ /* Centrado del nombre de la actividad en la imagen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*////////// DESCRIPCIÓN DE LA ACTIVIDAD//////////*/
.separacionBloque{ /* Para separar los bloques de información */
    margin-top: 5rem;
}

.descripcionActividad { /* Márgenes del texto de la descripción de la actividad */
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}


/*////////// INFORMACIÓN DE LAS EMPRESAS //////////*/
.localizacionCabeceraEmpresas{
    position: relative;
    width: 100%;
    font-size: 1.875rem;
    display: block;
}

.imagenPin { /* Imagen del pin en la cabecera de empresas */
    width: 1.6875rem;
    height: 4.6875rem;
    float: left;
    margin-left: 7rem;
    margin-right: 2rem;
}

.empresas{ /* Alineamiento del título de cabeceras */
    text-align: left;
}

.localizacionInformacion{ /* Localización de la información de las empresas */
    text-align: center;
}

.informacionEmpresas{ /* Información de las empresas*/
    width: 45%;
    font-size: 1.875rem;
    display: inline-block;
}

.imagenActividad{ /* Imagen de la actividad */
    position: relative;
    width: 45.4375rem;
    height: 36.75rem;
    top: 14rem;
    float: right;
    margin-right: 6.25rem;
}


/*////////// FOOTER //////////*/
.footer{
    bottom: -20rem;
}