
.AreaDeInformación{ /* Área en donde se encuentra toda la información */
    display: inline-block;
}

/*////////// IMAGEN Y NOMBRE DE LA ACTIVIDAD //////////*/
.posicionamientoImagenFondo{
    position: relative; /* Posicionamiento de la imagen de fondo principal */
}

.empresas{ /* Alineamiento del título de cabeceras */
    text-align: left;
    font-size: 3rem;
    margin-left: 3rem;
}



/*////////// MEDIA QUERY //////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/

@media (min-width: 960px) {


    .imagenFondo { /* Tamaño de la imagen de fondo principal */
        width: 100%;
        height: 32.375rem;
    }

    .centrado{ /* Centrado del nombre de la actividad en la imagen */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    /*////////// DESCRIPCIÓN DE LA ACTIVIDAD//////////*/
    .separacionBloque{ /* Para separar los bloques de información */
        margin-top: 6rem;
    }

    .descripcionActividad { /* Márgenes del texto de la descripción de la actividad */
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }


    /*////////// INFORMACIÓN DE LAS EMPRESAS //////////*/
    .localizacionCabeceraEmpresas{
        position: relative;
        width: 100%;
        font-size: 1.875rem;
        display: block;
    }

    .imagenPin { /* Imagen del pin en la cabecera de empresas */
        width: 1.6875rem;
        height: 4.6875rem;
    }

    .imagenEuro{
        position: relative;
        width: 2.6875rem;
        height: 3.1875rem;
        margin-left: 8rem;
    }

    .imagenTelefono{
        position: relative;
        width: 3.6875rem;
        height: 4rem;
        margin-left: 8rem;
    }

    .imagenWeb{
        position: relative;
        width: 4.6875rem;
        height: 4.3875rem;
        margin-left: 8rem;
    }



    .informacionEmpresas{ /* Información de las empresas*/
        font-size: 1.875rem;
        margin-left: 10rem;
    }


    .localizacionInformacion{ /* Localización de la información de las empresas */
        position: relative;
        margin-top: 3rem;
        text-align: center;
    }

    .empresaOrganizadora{
        position: relative;
        width: 25rem;
        margin-left: 15rem;
        font-size: 2rem;
    }

    /*////////// FOOTER //////////*/
    .footer{
        margin-top: 10rem;
    }


    .empresa span{
        font-size: 2rem;
        line-height: 1.75rem;
        color: black;
    }

    .empresa{
        position: relative;
        margin-top: 5rem;
    }

    .informacionEspecifica{
        display: inline;
    }
}





/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/

@media (min-width: 640px) and (max-width: 960px) {

    h2{
        font-size: 4rem;
    }

    p{
        font-size: 1.5rem;
    }

    .nombreActividadImagen{ /*título de nombre de actividad en Category Page y Activity Page*/
        font-size: 3rem;
        width: 31rem;
    }

    .imagenFondo { /* Tamaño de la imagen de fondo principal */
        width: 100%;
        height: 32.375rem;
    }

    .centrado{ /* Centrado del nombre de la actividad en la imagen */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    /*////////// DESCRIPCIÓN DE LA ACTIVIDAD//////////*/
    .separacionBloque{ /* Para separar los bloques de información */
        margin-top: 6rem;
        text-align: center;
    }

    .descripcionActividad { /* Márgenes del texto de la descripción de la actividad */
        font-size: 1.5rem;
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }


    /*////////// INFORMACIÓN DE LAS EMPRESAS //////////*/
    .localizacionCabeceraEmpresas{
        position: relative;
        width: 100%;
        font-size: 1.875rem;
        display: block;
    }




    .informacionEmpresas{ /* Información de las empresas*/
        font-size: 1.875rem;
        margin-left: 10rem;
    }

    .localizacionInformacion{ /* Localización de la información de las empresas */
        margin-top: 4rem;
    }


    /*////////// FOOTER //////////*/
    .footer{
        bottom: -10rem;
    }

    .empresa{
        margin-bottom: 8rem;
        margin-right: 6.25rem;
    }

    .imagenPin { /* Imagen del pin en la cabecera de empresas */
        width: 1.2875rem;
        height: 3.6875rem;
    }

    .imagenEuro{
        position: relative;
        width: 2rem;
        height: 2.5875rem;
        margin-left: 2rem;
    }

    .imagenTelefono{
        position: relative;
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
    }

    .imagenWeb{
        position: relative;
        width: 3.6875rem;
        height: 3.3875rem;
        margin-left: 2rem;
    }

    .empresa span{
        font-size: 1.3rem;
        line-height: 1.75rem;
        color: black;
        margin-left: 6.25rem;
    }

    .empresaOrganizadora{
        width: 25rem;
        font-size: 1.5rem;
        margin-left: 6.25rem;
    }

    .informacion{
        display: inline-block;
    }

    .informacionEspecifica{
        display: inline;
    }
}





/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/

@media (max-width: 640px) {

    h2{
        width: 12rem;
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }

    .nombreActividadImagen{ /*título de nombre de actividad en Category Page y Activity Page*/
        font-size: 2rem;
        width: 21rem;
    }

    .imagenFondo { /* Tamaño de la imagen de fondo principal */
        width: 100%;
        height: 22.375rem;
    }

    .centrado{ /* Centrado del nombre de la actividad en la imagen */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    /*////////// DESCRIPCIÓN DE LA ACTIVIDAD//////////*/
    .separacionBloque{ /* Para separar los bloques de información */
        margin-top: 6rem;
        text-align: center;
    }

    .descripcionActividad { /* Márgenes del texto de la descripción de la actividad */
        font-size: 1.3rem;
        margin-left: 3.25rem;
        margin-right: 3.25rem;
    }


    /*////////// INFORMACIÓN DE LAS EMPRESAS //////////*/
    .localizacionCabeceraEmpresas{
        position: relative;
        width: 100%;
        font-size: 1.675rem;
        display: block;
    }


    .informacionEmpresas{ /* Información de las empresas*/
        font-size: 1.875rem;
        margin-left: 10rem;
    }

    .localizacionInformacion{ /* Localización de la información de las empresas */
        margin-top: 4rem;
    }


    /*////////// FOOTER //////////*/
    .footer{
        bottom: -10rem;
    }

    .empresa{
        margin-bottom: 8rem;
    }

    .imagenPin { /* Imagen del pin en la cabecera de empresas */
        width: 1.2875rem;
        height: 3.6875rem;
        margin-left: 2rem;
    }

    .imagenEuro{
        position: relative;
        width: 2rem;
        height: 2.5875rem;
        margin-left: 2rem;
    }

    .imagenTelefono{
        position: relative;
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
    }

    .imagenWeb{
        position: relative;
        width: 3.6875rem;
        height: 3.3875rem;
        margin-left: 2rem;
    }

    .empresa span{
        font-size: 1.3rem;
        line-height: 1.75rem;
        color: black;
    }

    .empresaOrganizadora{
        width: 12rem;
        font-size: 1.5rem;
        margin-left: 3.5rem;
    }

    .informacion{
        display: block;
        float: left;
        margin-left: 3rem;
    }

    .informacionEspecifica{
        display: block;
        text-align: justify;
        margin-bottom: 2rem;
    }
}


