
.imagenFondo{
    position: absolute;
    width: 100%;
    height: 32.375rem;
    left: 0rem;
}

.nombreActividad{
    position: absolute;
    width: 33.375rem;
    height: 4.6875rem;
    left: 55.1875rem;
    top: 41.1875rem;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.6875rem;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0.4375rem 3.125rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.9375rem);
}


.descripcionActividad {
    position: absolute;
    width: 90%;
    height: 23.75rem;
    top: 64.1876rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: justify;

    display: flex;
    justify-content: space-between;

    color: #000000;
}

.imagenPin {
    position: absolute;
    width: 2.6875rem;
    height: 8.6875rem;
    left: 10.6875rem;
    top: 91.9375rem;

    display: flex;
    justify-content: space-between;
}

.empresas{
    position: absolute;
    width: 15.6875rem;
    height: 4.6875rem;
    left: 15.4375rem;
    top: 92.625rem;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.6875rem;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.informacionEmpresas{
    position: absolute;
    width: 100%;
    height: 53.875rem;
    left: 10.6875rem;
    top: 101.75rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: justify;

    display: flex;

    color: #000000;
}

.imagenActividad{
    position: absolute;
    width: 45.4375rem;
    height: 36.75rem;
    left: 61.5625rem;
    top: 109.0625rem;

    display: block;
}

.fotoCabecera{
    position: relative;
    width: 100%;
    height: 32.375rem;
    top: 27.375rem;
}


.tituloActividad{
    position: relative;
    width: 33.375rem;
    height: 4.6875rem;
    left: 44.1875rem;
    top: 14.1875rem;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.6875rem;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0rem 0.4375rem 3.125rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.9375);
}

.separacionBloque{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bloqueTexto{
    top: 320rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bloque{
    position: relative;
    width: 100%;
    top: 10rem;
    text-align: center;
    display: block;
}

.footer{
    bottom: -132rem;
}

