
.actividades{
    position: relative;
    top: 15rem;
    text-align: center;
    width: 100%;
}

.actividad{
    position: relative;
    width: 100%;
    height: 3rem;
    text-align: center;
}

.imagenActividad{
    position: relative;
    width: 100%;
    height: 25.8rem;
    text-align: center;
}

.textoActividad{
    position: absolute;
    left: 45%;
    top: 9rem;
    width: 18rem;
    text-align: center;
    color: white;
}

#imagen1{
    position: relative;
    top: 0;
}

#imagen2{
    position: relative;
    top: 28rem;
}

#imagen3{
    position: relative;
    top: 56rem;
}

.footer{
    bottom: -130rem;
}

.ejemplo4{
    text-align: center;
}




