
.descripcionMunicipio{
    position: relative;
    width: 60rem;
    height: 26.25rem;

    display: inline-block;
    vertical-align: top;
}


.imagenIzquierdaMunicipio{
    position: relative;
    width: 39.375rem;
    height: 26.25rem;

    align-items: center;
    text-align: center;

    float: left;
    margin-left: 6.25rem;

    background: #C4C4C4;
}

.imagenDerechaMunicipio{
    position: relative;
    width: 39.375rem;
    height: 26.25rem;

    align-items: center;
    text-align: center;

    float: right;
    margin-right: 6.25rem;

    background: #C4C4C4;
}

.bloque{
    position: relative;
    width: 100%;
    top: 0;
    text-align: center;
    display: inline-block;
}

.fila{
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.footer{
    bottom: -15rem;
}

h4{
    margin-left: 6.25rem;
}