
.titulo{
    position: absolute;
    width: 12.5625rem;
    height: 5.25rem;
    left: 3.75rem;
    top: 20.25rem;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-align: center;

    color: #000000;
}


.imagenesGrandes{
    position: relative;
    width: 33.3125rem;
    height: 30.875rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}


.imagenenesPequeñas{
    position: relative;
    width: 14.125rem;
    height: 12.1875rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}


.distribucionImagenes{
    display: flex;
    flex-direction: column;
}

.fila{
    align-items: center;
    display: block;
    justify-content: space-between;
    text-align: center;
}

.fotos{
    position: absolute;
    top: 34rem;
    width: 100%;
}

.footer{
    bottom: -100rem;
}
