
/*////////// IMÁGENES //////////*/
.imagenesGrandes{ /* Tamaño de las imágenes grandes */
    width: 33.3125rem;
    height: 30.875rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.imagenenesPequeñas{ /* Tamaño de las imágenes pequeñas */
    width: 14.125rem;
    height: 12.1875rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.alinear{ /* Alineamiento de las  imágenes */
    text-align: center;
}

.posicionamiento{ /* Posicionamiento del conjunto de imágenes */
    position: relative;
    top: 5rem;
    width: 100%;
}



/*////////// FOOTER //////////*/
.footer{ /* Posicionamiento del footer en la página */
    bottom: -20rem;
}