/*////////// GENERAL //////////*/
html {
    font-size: 100%;
}
/*////////// CARRUSEL DE IMÁGENES //////////*/
.carrusel {
    position: relative;
    box-shadow: 0 0.06rem 0.38rem rgba(0, 0, 0, 0.64);
    margin-top: 1.63rem;
    top: 1rem;
}

.carrusel_interno {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48.5rem;
}

.imagenActual:checked + .imagenCarrusel {
    position: static;
    opacity: 100;
}

.imagenCarrusel {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.imagenCarrusel img {
    display: block;
    width: 100%;
    height: 48.5rem;
}

.btnControl {
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    display: none;
    font-size: 6.25rem;
    height: 5rem;
    line-height: 3.75rem;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 5rem;
    z-index: 10;
}

.btnControl.prev {
    left: 2%;
}

.btnControl.next {
    right: 2%;
}

.btnControl:hover {
    background: rgb(183, 182, 182, 0.8);
    color: black;
}

#imagen-1:checked ~ .control-1,
#imagen-2:checked ~ .control-2,
#imagen-3:checked ~ .control-3 {
    display: block;
}

.imagen_indicador {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.imagen_indicador li {
    display: inline-block;
    margin: 0.31rem;
}

.circulo {
    color: #B7B6B6;
    cursor: pointer;
    display: block;
    font-size: 4.06rem;
}

.circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .imagen_indicador,
li:nth-child(1) .circulo,
#slide-2:checked ~ .control-2 ~ .imagen_indicador,
li:nth-child(2) .circulo,
#slide-3:checked ~ .control-3 ~ .imagen_indicador,
li:nth-child(3) .circulo {
    color: #B7B6B6;
}

/*////////// APARTADO DE CATEGORÍAS //////////*/
.apartadoCategorias{
    position: absolute;
    top: 80.81rem;
    width: 100%;
}

.imagenesCategorias{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lineaImagenes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conjuntoImagenDescripcion{
    position: relative;
    width: 50%;
}

.conjuntoImagenDescripcion img {
    display: block;
    width: 97%;
    height: 34.38rem;
}

.descripcion {
    position: absolute;
    top: 0;
    height: 100%;
    width: 97%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(196, 196, 196, 0.5);
}

.conjuntoImagenDescripcion:hover .descripcion {
    opacity: 1;
}

.textoDescripcion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Helvetica", serif;
    font-size: 1.88rem;
    line-height: 2.19rem;

    color: #FFFFFF;
}

.tituloCategoria{
    font-weight: bold;
    font-size: 2.38rem;
    line-height: 2.81rem;
    text-decoration-line: underline;
    text-transform: uppercase;
}

/*////////// APARTADO DE SOBRE NOSOTROS //////////*/
.apartadoSobreNosotros{
    position: relative;
    width: 100%;
    min-height: 43.75rem;
    height: auto;
    top: 109.65rem;
    display: flex;
    background-color: #C4C4C4;
    word-wrap: break-word;
}

.imagenSobreNosotros{
    position: absolute;
    width: 36.44rem;
    height: 32.38rem;
    left: 6.25rem;
    top: 4.88rem;
}
.tituloApartadoSobreNosotros{
    width: 33.31rem;
    left: 48.88rem;
    top: 2rem;
    text-transform: uppercase;
}

.textoSobreNosotros{
    position:relative;
    margin: 5.38rem 6.25rem 12.06rem 48.94rem;
}

.btnSaberMás{
    position: absolute;
    width: 13.88rem;
    height: 4.69rem;
    left: 48.94rem;
    bottom: 6.31rem;
    font-family: Helvetica, serif;
    font-size: 2.25rem;
    text-align: center;
    background: #CEE0FC;
    border-radius: 1rem;
}

/*////////// FOOTER //////////*/
.footer{
    bottom: -132rem;
}